<%= link_to new_event_path, class: "btn btn-primary " do %>
  <i class="fas fa-plus"></i> Add Event
<% end %>
<div class="col-md-6 p-5">
  <div class="calendar">
    <%= turbo_frame_tag "calendar" do %>
      <%= render partial: "calendar" %>
    <% end %>
    <%= turbo_frame_tag "event_timeline" do %>
      <%= render partial: "timeline", locals: { daily_events: @daily_events } %>
    <% end %>
  </div>
</div>
